.storeShow h1 {
  text-align: center;
  margin: 10px 0px;
}
.storeBanner {
  position: relative;
}
.storeBanner .storeInfo {
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  height: 120px;
}
.storeBanner .storeInfo div {
  float: left;
}
.storeBanner .storeInfo div img {
  float: left;
  width: 120px;
  height: 120px;
  border: 3px solid #ddd;
  border-radius: 50%;
}
.storeBanner .storeInfo div h1 {
  float: left;
  margin-left: 20px;
  text-align: left;
  color: #fff;
}
.storeBanner .storeInfo div h1 .dealed {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
.storeBanner .storeInfo .ant-rate {
  float: none;
  height: 32px;
}
.storeBanner .storeInfo .ant-rate li {
  margin-right: 10px;
  line-height: 32px;
}
.storeBanner .storeInfo ul {
  float: right;
  display: flex;
  height: 120px;
}
.storeBanner .storeInfo ul li {
  color: #fff;
  margin-right: 80px;
  line-height: 60px;
  font-size: 18px;
}
.storeBanner .storeInfo ul li span {
  display: block;
  text-align: center;
  font-size: 14px;
}
.storeBanner .storeInfo .collect {
  position: absolute;
  top: -100px;
  right: 0px;
  padding: 10px 5px;
  width: 80px;
  text-align: center;
  background: #FFF;
  background: rgba(255,255,255,.1);
  border-radius: 0 0 5px 5px;
  color: #eee;
  cursor: pointer;
}
.storeBanner .storeInfo .collect .anticon{
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.storeBanner .ant-carousel{
  position: relative;
  width: 100%;
  height: 400px;
}
.ant-carousel .slick-dots {
  z-index: 10;
}
.storeBanner .ant-carousel:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
}
.topHeader {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.topHeader .header-left {
  display: flex;
  flex: 1;
}
.topHeader .header-left li {
  width: 112px;
  line-height: 57px;
  height: 57px;
  text-align: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.topHeader .header-left span {
  display: block;
  height: 15px;
  border-left: 1px solid #ddd;
  margin-top: 20px;
}
.topHeader .header-left .active {
  border-bottom: 3px solid #0089dc;
  color: #0089dc;
}
.topHeader .header-right {
  display: flex;
  line-height: 57px;
  font-size: 14px;
}
.topHeader .header-right li {
  color: #333;
  margin-left: 20px;
  cursor: pointer;
}
.topHeader .header-right li .anticon {
  margin-left: 5px;
  color: #333;
  font-weight: bold;
}
.anticon-heart {
  color: #f74342;
}
.topHeader .header-right .active {
  color: #0089dc;
}
.topHeader .header-right .active .anticon {
  color: #0089DC;
}

//主要
.main {
  background: #f2f2f2;
  padding: 20px 0px 150px;
  min-height: 200px;
}
.typeMenu {
  width: 980px;
  margin: 0px auto 20px;
  padding: 10px 20px;
  display: flex;
  background: #fff;
}

.typeMenu li {
  width: 18%;
  padding: 0px 10px;
  margin-right: 10px;
  line-height: 26px;
  color: #666;
  cursor: pointer;
  border-radius: 2px;
}
.typeMenu li:hover {
  background: #f2f2f2;
}
.typeMenu .active {
  background: #0089DC !important;
  color: #fff !important;
}
.listMenu {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
}
.listMenu .ant-rate {
  margin: -2px 0px 0px 10px;
  font-size: 12px;
}
.listMenu .ant-rate .ant-rate-star {
  margin-right: 2px;
}
.listMenu .menuItem {
  width: 32%;
  height: 105px;
  margin-right: 18px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
}
.listMenu .menuItem:nth-child(3n) {
  margin-right: 0px;
}
.listMenu .menuItem img {
  width: 100px;
  height: 100px;
}
.listMenu .menuItem .menuInfo {
  flex: 1;
  position: relative;
  padding: 10px 5px;
}
.listMenu .menuItem .menuInfo h2 {
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  color: #333;
}
.listMenu .menuItem .menuInfo p {
  width: 200px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.listMenu .menuItem .menuInfo strong {
  display: block;
  margin-top: 5px;
  color: #f74342;
}
.listMenu .menuItem .menuInfo strong span {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.listMenu .menuItem .menuInfo button {
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 90px;
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  background-color: #0089dc;
  color: #fff;
}
.listMenu .menuInfo .inputNumber, .inputNumber {
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 90px;
  height: 26px;
  border-radius: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #eee;
}
.listMenu .menuInfo .inputNumber span, .inputNumber span{
  float: left;
  width: 27px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.inputNumber p,.listMenu .menuInfo .inputNumber p{
  float: left;
  width: 34px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  color: #000;
  background: #fff;
}
.listMenu .menuItem .menuInfo button:active {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.shopCar {
  z-index: 102;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 46px;
  font-size: 14px;
}
.shopCar .shopList {
  position: absolute;
  bottom: 46px;
  right: 0px;
  width: 320px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 15px #ccc;
}
.shopCar .shopList h1 {
  margin: 0px;
  padding: 0px 15px;
  text-align: left;
  line-height: 34px;
  font-size: 14px;
  color: #333;
  border-top: 2px solid #25a3ff;
}
.shopCar .shopList h1 span {
  margin-left: 10px;
  color: #25a3ff;
  cursor: pointer;
}
.shopCar .shopList ul {
  padding: 0px 15px;
}
.shopCar .shopList ul li{
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;
}
.shopCar .shopList ul li i {
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shopCar .shopList ul li strong {
  color: #f17530;
}
.shopCar .shopList ul li .inputNumber {
  position: static;
  margin-top: 7px;
}
.shopCar .carBtn {
  display: flex;
  height: 46px;
}
.shopCar .carBtn button {
  flex: 1;
  line-height: 46px;
  background: #2c2c2c;
  border: 0px;
  color: #999;
  text-align: left;
}
.shopCar .carBtn button .anticon {
  float: left;
  margin: 10px 20px;
  font-size: 26px;
  font-weight: 700;
  color: #fff
}
.shopCar .carBtn button span {
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}
.shopCar .carBtn .btn{
  width: 120px;
  line-height: 46px;
  text-align: center;
  background: #e4e4e4;
  color: #333;
}
.shopCar .carBtn .settle {
  background: #51d862;
  color: #fff;
}
.carBtn .ant-badge {
  position: absolute;
  top: 2px;
  left: 38px;
}


.remark .remarkList{
  width: 960px;
  margin: 0 auto;
}
.remark .question {
  display: block;
  width: 960px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
}
.remark .askNo {
  display: block;
  width: 960px;
  text-align: left;
  margin: 8px auto;
  color: #e04742;
}
.remark .ant-btn {
  display: block;
  width: 300px;
  margin: 20px auto;
  line-height: 40px;
  font-size: 14px;
  background: #f7b84f;
  color: #fff;
  &:hover {
    background: #fff;
    border-color: #f7b84f;
    color: #f7b84f;
  }
}

.remark .remarkList .remarkItem {
  height: 150px;
  margin: 10px auto;
  padding: 10px 15px;
  background: #fff;
  display: flex;
}
.remark .remarkList .remarkItem  p {
  min-width: 50px;
  text-align: center;
  margin-right: 20px;
  padding-top: 10px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
}
.remark .remarkList .remarkItem  p span {
  display: block;
  text-align: center;
}
.remark .remarkList .remarkItem .text {
  display: block;
  margin-top: 5px;
  height: 80px;
  color: #999;
}
.remark .remarkList .remarkItem h4 {
  color: #f7b84f;
}

.remark .remarkList .questionItem {
  display: block;
  height: auto;
  min-height: 100px;
}
.remark .remarkList .questionItem p {
  line-height: 20px;
  height: 20px;
  min-width: 100%;
  margin: 5px 0px;
  text-align: left;
}

.remark .remarkList .questionItem p span {
  display: inline-block;
  width: 70px;
  text-align: left;
}

.remark .remarkList .remarkItem .text {
  display: inline-block;;
  margin-top: 5px;
  margin-left: 10px;
  font-style: normal;
  color: #999;
  &:before {
    content: '问';
    float: left;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    line-height: 20px;
    text-align: center;
    background: #f7b84f;
  }
}
.remark .remarkList .remarkItem .response:before {
  content: '答';
  background: #e04742;
}
