.setSeller {
  overflow: hidden;
}
.setSeller .ant-form {
  float: left;
  padding: 100px 0px 0px 100px;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
}
.setSeller .ant-form .ant-row {
  width: 300px;
  margin-right: 30px;
}
