@import './resource/css/antd.min.css';

* {
  margin: 0;
  padding: 0;
}
body, html {
  min-height: 100%;
}

body{
  color: #1F5EA9;
  -moz-user-select:none;/*火狐*/

  -webkit-user-select:none;/*webkit浏览器*/

  -ms-user-select:none;/*IE10*/

  -khtml-user-select:none;/*早期浏览器*/

  user-select:none;
  // background-image: url(./resource/background.jpeg);
  // background-repeat: no-repeat;
  // background-size: cover;
}
@font-face {
  font-family: 'iconfont';
  src: url('./resource/fonts/iconfont.eot');
  src: url('./resource/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./resource/fonts/iconfont.woff?t=1490092138912') format('woff'),
  url('./resource/fonts/iconfont.ttf?t=1490092138912') format('truetype'),
  url('./resource/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
input,button{
  outline: none;
}
ul,li {
  list-style: none;
}
.bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: inherit;
  filter: blur(10px);
}
#test {
  height: 100%;
  overflow: auto;
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.setSeller {
  height: 100%;
}

.clear:after {
  content: '';
  overflow: hidden;
  display: block;
  width: 0px;
  height: 0px;
  visibility: hidden;
  clear: both;
}

.maskWrapper {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.maskWrapper .maskBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  padding: 50px 30px;
  border-radius: 4px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.maskWrapper .maskBox p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
}
.maskWrapper .maskBox a {
  display: block;
  margin: 0 auto;
  /* color: #e04742; */
  text-align: center;
  width: 60px;
  height: 26px;
  background: #e04742;
  color: #fff;
  line-height: 26px;
  border-radius: 5px;
}
